<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel = "icon" href ="{{ url_for('static', filename='img/logo.png',_external=True, _scheme='https') }}" type = "image/x-icon">
    {% block title %}{% endblock %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Money Blog" name="keywords">
    <meta content="Monet Blog" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico',_external=True, _scheme='https') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css',_external=True, _scheme='https') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="{{ url_for('static',filename = 'css/style.css',_external=True, _scheme='https') }}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
    
    
    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" id="date_layout" href="#"></a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item border-right border-secondary">
                                <a class="nav-link text-body small" href="{{ url_for('post.add_post') }}">Đăng bài</a>
                            </li>
                            <li class="nav-item border-right border-secondary">
                                <a class="nav-link text-body small" href="{{ url_for('user.register') }}">Trang cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body small" href="{{ url_for('user.logout') }}">Đăng xuất</a>
                            </li>
                        {% else %}
                            <li class="nav-item border-right border-secondary">
                                <a class="nav-link text-body small" href="{{ url_for('user.login') }}">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body small" href="{{ url_for('user.register') }}">Đăng ký</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="{{ url_for('main.home') }}" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">CM<span
                            class="text-secondary font-weight-normal">Money</span></h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <img class="img-fluid" src="{{ url_for('static',filename = '/img/banner728.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="{{ url_for('main.home') }}" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-uppercase text-primary">CM<span
                        class="text-white font-weight-normal">Money</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{{ url_for('main.home') }}" class="nav-item nav-link" id="homepage">Trang Chủ</a>
                    <a href="{{ url_for('main.contact') }}" class="nav-item nav-link" id="contact">Liên Hệ</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Chủ đề</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ url_for('post.category', category_code='dau-tu') }}" class="dropdown-item">Đầu tư</a>
                            <a href="{{ url_for('post.category', category_code='tiet-kiem') }}" class="dropdown-item">Tiết kiệm</a>
                            <a href="{{ url_for('post.category', category_code='kiem-tien') }}" class="dropdown-item">Kiếm tiền</a>
                            <a href="{{ url_for('post.category', category_code='chung-khoan') }}" class="dropdown-item">Chứng khoán</a>
                            <a href="{{ url_for('post.category', category_code='song') }}" class="dropdown-item">Sống</a>
                            <a href="{{ url_for('post.category', category_code='thi-truong') }}" class="dropdown-item">Thị trường</a>
                            <a href="{{ url_for('post.category', category_code='khac') }}" class="dropdown-item">Khác</a>
                    
                        </div>
                    </div>
                    {% if current_user.role == 'admin' %}
                        <a href="#" class="nav-item nav-link">Quản lý bài viết</a>
                    {% endif %}
                </div>
                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div id="toast"></div>
    {% block content %}
    {% endblock %}
    



    <!-- Footer Start -->
    <div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
        <div class="row py-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Liên hệ</h5>
                <p class="font-weight-medium" style="color: white;"><i class="fa fa-map-marker-alt mr-2"></i>Đống Đa, Hà Nội</p>
                <p class="font-weight-medium" style="color: white;"><i class="fa fa-phone-alt mr-2"></i>+84 332474727</p>
                <p class="font-weight-medium" style="color: white;"><i class="fa fa-envelope mr-2"></i>caominh2409@gmail.com</p>
                <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Theo dõi chúng tôi</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-lg btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Tin nổi bật</h5>
                <div id="tinnoibat">
                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Chủ đề</h5>
                <div class="m-n1">
                    <a href="{{ url_for('post.category', category_code='dau-tu') }}" class="btn btn-sm btn-secondary m-1">Đầu tư</a>
                            <a href="{{ url_for('post.category', category_code='tiet-kiem') }}" class="btn btn-sm btn-secondary m-1">Tiết kiệm</a>
                            <a href="{{ url_for('post.category', category_code='kiem-tien') }}" class="btn btn-sm btn-secondary m-1">Kiếm tiền</a>
                            <a href="{{ url_for('post.category', category_code='chung-khoan') }}" class="btn btn-sm btn-secondary m-1">Chứng khoán</a>
                            <a href="{{ url_for('post.category', category_code='song') }}" class="btn btn-sm btn-secondary m-1">Sống</a>
                            <a href="{{ url_for('post.category', category_code='thi-truong') }}" class="btn btn-sm btn-secondary m-1">Thị trường</a>
                            <a href="{{ url_for('post.category', category_code='khac') }}" class="btn btn-sm btn-secondary m-1">Khác</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="mb-4 text-white text-uppercase font-weight-bold">Hình ảnh</h5>
                <div class="row">
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-1.jpg') }}" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-2.jpg') }}" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-3.jpg') }}" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-4.jpg') }}" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-5.jpg') }}" alt=""></a>
                    </div>
                    <div class="col-4 mb-3">
                        <a href=""><img class="w-100" src="{{ url_for('static',filename = '/img/news-110x110-1.jpg') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
        <p class="m-0 text-center">&copy; <a href="#">Your Site Name</a>. All Rights Reserved.

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Design by <a href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <!-- <script src="static/js/require.js" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js" integrity="sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static',filename = 'lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/notification.js') }}"></script>
    <link href="{{ url_for('static',filename = 'vendor/selectize/css/selectize.bootstrap4.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static',filename = 'vendor/selectize/js/standalone/selectize.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename = 'lib/pagination.js') }}" type="text/javascript"></script>

    {% block script %}{% endblock %}
    <!-- Template Javascript -->

    <script src="{{ url_for('static',filename = 'js/main.js') }}"></script>

</body>

</html>