{% extends 'layout.html' %}
{% block css %}
    <link href="{{ url_for('static',filename = 'css/form.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section-form text-center">
											<h4 class="mb-4 pb-3" style="color: aliceblue;">Đăng ký tài khoản</h4>

                                            <div class="form-group mt-2">
                                                <input type="text" name="logpass" class="form-style" placeholder="Tên đăng nhập" id="username" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="logemail" class="form-style" placeholder="Email" id="email" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="logpass" class="form-style" placeholder="Mật khẩu" id="password" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="logpass" class="form-style" placeholder="Xác nhận mật khẩu" id="confirm_password" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button class="btn-form mt-4">Đăng ký</button>
                                            <!-- <a href="#" class="btn mt-4">Đăng ký</a> -->
                                        </div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
{% endblock %}
{% block script %}
    <script src="static/js/user/register.js"></script>
{% endblock %}