{% extends 'layout.html' %}
{% block title %}
    {% if post %}
    <title>Chỉnh sửa bài viết</title>
    {% else %}
    <title>Đăng bài</title>
    {% endif %}
{% endblock %}

{% block css %}
<link href="{{ url_for('static',filename = 'css/util.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename = 'css/form-post.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}

<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-form validate-form" enctype="multipart/form-data">
                <span class="contact100-form-title">
                    Đăng bài
                </span>
                <div class="wrap-input100 validate-input bg1" data-validate="Vui lòng nhập tiêu đề">
                    <span class="label-input100">Tiêu đề *</span>
                    {% if post %}
                        <input class="input100" type="text" id="title" value="{{ post.title }}">
                    {% else %}
                        <input class="input100" type="text" id="title">
                    {% endif %}
                </div>
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                    <span class="label-input100">Chọn ảnh đại diện*</span>
                    <div>
                        <input class="form-control-file" id="picture" type="file">
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Chọn chủ đề *</span>
                    <div>
                        <select class="js-select2" style="width: 100%;" multiple="multiple" id="category" placeholder="Chọn chủ đề">
                            <option value="1">Đầu tư</option>
                            <option value="2">Tiết kiệm</option>
                            <option value="3">Kiếm tiền</option>
                            <option value="4">Chứng khoán</option>
                            <option value="5">Sống</option>
                            <option value="6">Thị trường</option>
                            <option value="7">Khác</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Vui lòng nhập tóm tắt bài đăng">
                    <span class="label-input100">Tóm tắt bài đăng</span>
                    {% if post %}
                        <input class="input100" type="text" id="summary" value="{{ post.summary }}">
                    {% else %}
                        <input class="input100" type="text" id="summary">
                    {% endif %}
                </div>
                <!-- <div class="w-full dis-none js-show-service">
                    <div class="wrap-contact100-form-radio">
                        <span class="label-input100">What type of products do you sell?</span>
                        <div class="contact100-form-radio m-t-15">
                            <input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical"
                                checked="checked">
                            <label class="label-radio100" for="radio1">
                                Phycical Products
                            </label>
                        </div>
                        <div class="contact100-form-radio">
                            <input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
                            <label class="label-radio100" for="radio2">
                                Digital Products
                            </label>
                        </div>
                        <div class="contact100-form-radio">
                            <input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
                            <label class="label-radio100" for="radio3">
                                Services Consulting
                            </label>
                        </div>
                    </div>
                    <div class="wrap-contact100-form-range">
                        <span class="label-input100">Budget *</span>
                        <div class="contact100-form-range-value">
                            $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
                            <input type="text" name="from-value">
                            <input type="text" name="to-value">
                        </div>
                        <div class="contact100-form-range-bar">
                            <div id="filter-bar"></div>
                        </div>
                    </div>
                </div> -->
                <div class="wrap-input100 validate-input bg0 rs1-alert-validate"
                    data-validate="Please Type Your Message">
                    <span class="label-input100">Nội dung</span>
                    {% if post %}
                    <textarea class="input100" id="content">{{ post.content }}</textarea>
                    {% else %}
                    <textarea class="input100" id="content"></textarea>
                    {% endif %}

                </div>

                <div class="wrap-input100 validate-input bg1">
                    <span class="label-input100">Nguồn (Nếu có)</span>
                    {% if post %}
                        <input class="input100" type="text" id="source" value="{{ post.source }}">
                    {% else %}
                        <input class="input100" type="text" id="source">
                    {% endif %}
                </div>
                
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Đăng bài
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}

{% block script %}
    <script src="static/js/post/add_post.js"></script>
{% endblock %}