{% extends 'layout.html' %}
{% block title %}
    <title>Bài viết - Trang {{ post.page }}</title>
{% endblock %}
{% block content %}
<!-- Breaking News Start -->
<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">Xu hướng</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                        style="width: calc(100% - 180px); padding-right: 100px;">
                        {% for item in post.top_view %}
                            <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{{ url_for('post.post', post_id=item.id) }}">{{ item.title }}</a></div>
                        {% endfor %}
                        <!-- <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div> -->
                        <!-- <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="position-relative mb-3">
                    
                    <div class="bg-white border-top-0 p-4">
                        {% for post in post.render %}
                        <div class="bg-white border-top p-3">
                            <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{{ url_for('post.post', post_id=post.id) }}" style="overflow: auto;">{{ post.title }}</a>
                                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                    <img class="img-fluid" src="{{ url_for('static', filename='/img/post/' + post.post_picture) }}" alt="" style="width: 110px; height: 110px;">
                                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center">
                                        <div class="mb-2">
                                            <h6>{{ post.time }}</h6>
                                            <p style="overflow: hidden;">{{ post.summary }}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                        <div style="display: flex; justify-content: flex-end">
                            <div class="pagination" style="margin-left:auto; margin-right:0;">
                                <a href="{{ url_for('post.get_all_posts', page=post.page-1) }}">&laquo;</a>
                                    {% for i in range(1, post.total_pages+1) %}
                                        {% if i == post.page %}
                                            <a class="active" href="{{ url_for('post.get_all_posts', page=i) }}">{{ i }}</a>
                                        {% elif ((i+1 == post.page) or (i-1 == post.page) or (i==1) or (i==post.total_pages)) %}
                                            <a href="{{ url_for('post.get_all_posts', page=i) }}">{{ i }}</a>
                                        {% elif ((i+2 == post.page) or (i-2 == post.page)) %}
                                            <a href="">...</a>
                                        {% endif %}
                                            
                                    {% endfor %}
                                <a href="{{ url_for('post.get_all_posts', page=post.page+1) }}">&raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Theo dõi chúng tôi</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Fans</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Liên kết</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Đăng ký</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Quảng Cáo</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><img class="img-fluid" src="{{ url_for('static', filename='/img/800x500.png') }}" alt=""></a>
                    </div>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Nổi bật</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        {% for post in post.top_like %}
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ url_for('post.category', category_code=post.category.category_code) }}">{{ post.category.category_name }}</a>
                            <div class="d-flex align-items-top bg-white mb-3 mt-1" style="height: 110px;">
                                <img class="img-fluid" src="{{ url_for('static', filename='/img/post/' + post.post_picture) }}" alt="" style="width: 110px; height: 110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column border-bottom">
                                    <div class="mb-2">
                                        <a class="text-body" href="" ><small>{{ post.time_delta }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{{ url_for('post.post', post_id=post.id) }}" style="overflow: auto;">{{ post.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Thông báo</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Đăng ký để nhận thông báo về bài đăng mới nhất</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Email của bạn">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Đăng ký</button>
                            </div>
                        </div>
                        <small>Email thu thập nhằm mục đích phát triển blog tốt hơn không phải vì mục đích thương mại</small>
                    </div>
                </div>
                <!-- Newsletter End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
{% endblock %}
