{% extends 'layout.html' %}
{% block title %}
<style>
    #pagination-demo {
        display: inline-block;
    }
    #pagination-demo li {
        display: inline-block;
    }
</style>
<title>{{ post.title }}</title>
{% endblock %}
{% block content %}
<!-- Breaking News Start -->
<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">Xu hướng</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                        style="width: calc(100% - 180px); padding-right: 100px;">
                        {% for item in post.top_view %}
                            <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{{ url_for('post.post', post_id=item.id) }}">{{ item.title }}</a></div>
                        {% endfor %}
                        <!-- <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div> -->
                        <!-- <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="{{ url_for('static', filename='/img/post/' + post.post_picture) }}" style="object-fit: cover;">
                    <div class="bg-white border border-top-0 p-4">
                        <div class="d-flex justify-content-between">
                            <div class="mb-3">
                                {% set item = post.list_categories[0] %}
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{{ url_for('post.category', category_code=item.category_code) }}">{{ item.category_name }}</a>
                                
                                <a class="text-body" href="">{{ post.time }}</a>
                            </div>
                            <div>
                                {% if current_user.id == post.user_id.id %}
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                     id="update">Chỉnh sửa</a>
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                     id="delete">Xóa bài</a>
                                {% endif %}
                            </div>
                        </div>
                        <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ post.title }}</h1>
                        {% for p in post.content.split('\n') %}
                            <p style="color: black;">{{ p }}</p>
                        {% endfor %}
                        {% if post.source != None %}
                        <p style="color: black; text-align: end;">Theo: {{ post.source }}</p>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="{{ url_for('static', filename='/img/default.png') }}" width="25" height="25" alt="">
                            <span>{{ post.user_id.username }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="ml-3"><i class="far fa-eye mr-2"></i>{{ post.views }}</span>
                            {% if current_user.is_authenticated %}
                                {% if post.id in current_user.post_like() %}
                                    <span class="ml-3" id="post_liked"><i id="like" class="fa fa-thumbs-up mr-2" style="color: #0185AE;"></i>{{ post.liked }}</span>
                                {% else %}
                                    <span class="ml-3" id="post_liked"><i id="like" class="far fa-thumbs-up mr-2"></i>{{ post.liked }}</span>
                                {% endif %}
                            {% else %}
                                <span class="ml-3" id="post_liked"><i id="like" class="far fa-thumbs-up mr-2"></i>{{ post.liked }}</span>
                            {% endif %}
                            <span class="ml-3"><i class="far fa-comment mr-2"></i>{{ post.liked }}</span>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->

                <!-- Comment List Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold" id="total_comment"></h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4">
                        <div id="comment">
                        <!-- <div class="media mb-4">
                            <img src="{{ url_for('static', filename='/img/default.png') }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            <div class="media-body">
                                <h6><a class="text-secondary font-weight-bold" href="">Minh Cao</a> <small><i>08-08-2022</i></small></h6>
                                <p>Hard Code</p>
                                <button class="btn btn-sm btn-outline-secondary">Trả lời</button>
                            </div>
                        </div> -->
                        <!-- <div class="media">
                            <img src="{{ url_for('static', filename='/img/default.png') }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            <div class="media-body">
                                <h6><a class="text-secondary font-weight-bold" href="">Minh Cao</a> <small><i>08-08-2022</i></small></h6>
                                <p>Hard Code</p>
                                <button class="btn btn-sm btn-outline-secondary">Trả lời</button>
                                <div class="media mt-4">
                                    <img src="{{ url_for('static', filename='/img/default.png') }}" alt="Image" class="img-fluid mr-3 mt-1"
                                        style="width: 45px;">
                                    <div class="media-body">
                                        <h6><a class="text-secondary font-weight-bold" href="">Minh Cao</a> <small><i>08-08-2022</i></small></h6>
                                        <p>Hard Code</p>
                                        <button class="btn btn-sm btn-outline-secondary">Trả lời</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        </div>
                        <div style="display: flex; justify-content: flex-end">
                            <ul id="pagination" style="display: inherit;"></ul>
                            <!-- <div class="pagination" style="margin-left:auto; margin-right:0; display: inline-block;">
                                <a href="">&laquo;</a>
                                    <a class="active" href="">1</a>
                                    <a href="">2</a>
                                    <a href="">3</a>
                                <a href="">&raquo;</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- Comment List End -->

                <!-- Comment Form Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Để lại bình luận</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4">
                        <form>
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Tên *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" id="reply">
                                        <p for="reply_conment" id="comment_content">Trả lời bình luận *</p>
                                        <input type="text" class="form-control" id="reply_comment" value=0>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message">Bình luận *</label>
                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </form>
                        <div class="form-group mb-0">
                            <input type="submit" value="Bình luận"
                                class="btn btn-primary font-weight-semi-bold py-2 px-3" id="post_comment">
                        </div>
                    </div>
                </div>
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Theo dõi chúng tôi</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Fans</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Liên kết</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Đăng ký</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Theo dõi</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Quảng Cáo</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><img class="img-fluid" src="{{ url_for('static', filename='/img/800x500.png') }}" alt=""></a>
                    </div>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Cùng chuyên mục</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        {% for post in post.same_category %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="{{ url_for('static', filename='/img/post/' + post.post_picture) }}" alt="" style="width: 110px; height: 110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{ post.category }}</a>
                                        <a class="text-body" href="" ><small>{{ post.time }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{{ url_for('post.post', post_id=post.id) }}" style="overflow: auto;">{{ post.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Thông báo</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Đăng ký để nhận thông báo về bài đăng mới nhất</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Email của bạn">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Đăng ký</button>
                            </div>
                        </div>
                        <small>Email thu thập nhằm mục đích phát triển blog tốt hơn không phải vì mục đích thương mại</small>
                    </div>
                </div>
                <!-- Newsletter End -->

                <!-- Tags Start -->
                <!-- <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                        </div>
                    </div>
                </div> -->
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/post/single.js') }}"></script>
{% endblock %}